<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fci.androCroder.BD">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fci.androCroder.BD.Post_activity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.fci.androCroder.BD.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.SearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.Add_Donor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.Login_activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fci.androCroder.BD.showBlood_donor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.Contract"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.About_Us"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.Facts"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.About_BDG"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.DonorDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.Photo_gallery"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.uploadPhotoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.EditProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.Male_Female_Choose"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.TopDonor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fci.androCroder.BD.showTopDonor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.fci.androCroder.BD.Forgot_activity"></activity>
    </application>

</manifest>